<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TZ.API.DeviceManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <applicationSettings>
    <TZ.API.DeviceManagement.Properties.Settings>
      <setting name="RefreshInterval" serializeAs="String">
        <value>00:00:01</value>
      </setting>
      <setting name="ComPort" serializeAs="String">
        <value/>
      </setting>
      <setting name="ReloadOnStartUp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UnlockOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogDebugMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxCommandRetry" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CommandRetryInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DiscoveryResponseWindow" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxOnlineStatusDelay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ReloadDevicesOnError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Emulation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReloadOnStartUp1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PollingInterval1" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="LogDebugMessages1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxCommandRetry1" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CommandRetryInterval1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DiscoveryResponseWindow1" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxOnlineStatusDelay1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NumberOfEmulatedRadials" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PollingInterval" serializeAs="String">
        <value>300</value>
      </setting>
    </TZ.API.DeviceManagement.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
