<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <system.serviceModel>
    <!--<bindings>
      <customBinding>
        <binding name="webSocket">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>-->
    <client>
      <endpoint address="http://localhost:169/IDeviceManager" binding="basicHttpBinding" contract="CommonInterface.IDeviceManagerService" name="deviceEndpoint"></endpoint>

      <!--<endpoint address="http://localhost:169/ICardReaderSubscribe" binding="customBinding" contract="CommonInterface.ICardReaderEventsSubscribe" name="dupSocket" bindingConfiguration="webSocket"></endpoint>-->

      <endpoint address="http://localhost:169/ICardReaderSubscribe" binding="netHttpBinding" contract="CommonInterface.ICardReaderEventsSubscribe" name="dupSocket"></endpoint>
      
    </client>
  </system.serviceModel>
</configuration>
