<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tz.DeviceManagerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
   
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <customBinding>
        <binding name="webSocket">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      
      <service name="Tz.DeviceManagerService.DeviceManagerServiceHost" >
        <endpoint address="http://localhost:169/IDeviceManager" binding="webHttpBinding"  behaviorConfiguration="webScript" contract="Tz.LockerBank.Common.Interface.IDeviceManagerService"></endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" name="MetadataEndpoint" contract="IMetadataExchange" />-->
      </service>
      <service name="Tz.DeviceManagerService.LockerBankIdentifier"  behaviorConfiguration="needMex">
        <endpoint address="http://localhost:169/ILockerBankIdentifier" binding="webHttpBinding" behaviorConfiguration="webScript" contract="Tz.LockerBank.Common.Interface.ILockerBankIdentifier"></endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" name="MetadataEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:169" />
          </baseAddresses>
        </host>
      </service>
      <service name="Tz.DeviceManagerService.CardReaderService">
        <endpoint address="http://localhost:169/IWebCardReaderSubscribe" binding="customBinding" contract="Tz.LockerBank.Common.Interface.IWebCardReaderEventsSubscribe" bindingConfiguration="webSocket"></endpoint>
        <!--<endpoint address="http://localhost:169/ICardReaderSubscribe" binding="netHttpBinding" contract="CommonInterface.ICardReaderEventsSubscribe" name="dupSocket"></endpoint>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />

        </behavior>
        <behavior name="needMex">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
                  
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webScript">
          <enableWebScript/>
          <webHttp/>
          <CorsSupport />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <Tz.DeviceManagerService.Properties.Settings>
      <setting name="ComPort" serializeAs="String">
        <value>COM11</value>
      </setting>
      <setting name="Identification" serializeAs="String">
        <value>TzLocker1</value>
      </setting>
    </Tz.DeviceManagerService.Properties.Settings>
  </applicationSettings>
</configuration>
